// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index-header {
  text-align: center;
    img {
      width: 32%
    }
}

.single-post {
  margin: 20px auto ;
  width: 40%;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  p{
    word-wrap: break-word;
  }
  input {
    margin: 2px;
  }
}

.photo-img {
  width:200px;
  height:200px;
}

// .time-line{
//   margin: 0 auto;
//   border: 2px solid black;
//   background-color: rgba(255, 255, 255, 0.5);
//   width: 50%;
// }