// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index-header {
  text-align: center;
    img {
      width: 32%
    }
}

#all-posts {
  margin-top: 2vh;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  // :last-child  {
  //   margin-bottom: 2%;
  // }
}

.single-post {
  margin: 1px auto ;
  width: 45vw;
  border: 2px solid rgb(131, 131, 131);
  background-color: #ffffff;
  margin-bottom: 3%;

  span {
    font-size: 1vw;
    margin: 0 0.4vw;
  }

  h4 {
    margin-bottom: 1%;
  }

  .name-time-text {
    font-size: 1vw;
    margin-left: 4%;
    text-align: left;
  }

  p{
    word-wrap: break-word;
  }
  input {
    font-size: 1vw;
    margin: 2px;
  }
}

#individual-post-page {
  height: fit-content;
}

.left-menu {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: sticky;
  top: 0px;

  h2 {
    font-size: 1.5vw;
  }

  input { 
    font-size: 1.5vw;
    width: 100%;
    height: 5%;
    color: black;
    background-color: white;
    margin: 1%;
    border: 1px solid #4a76a8;
  }
}

.photo-container {
  width: 100%;
  margin-top: 6%;
}

.photo-img {
  border-color: black;
  border-style: solid; 
  border-width: 1px 0 1px 0;
  width:100%;
  height:100%;
}

.post-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;

  input {
    max-width: 2.2em;
    min-height: 2.3em;
  }



  // .like-count {

  // }

  :last-child {
    margin-right: 4%;
  }
}



// .post-btn {
//   min-width: 20px;
//   // max-height: 1px;
// }