<<<<<<< HEAD
<section class="container" >
  <header class="header">
    <h1>Welcome</h1>
    <h3>Ready to keep it real?</h3>
    <div>Log In</div>
    <div>Sign Up</div>
  </header>
 
  <div><img src="https://emoji.gg/assets/emoji/1590_bruh.png" width="40%" height="40%" alt="bruh"></div>

  <%= yield %>

</section>
=======
yo
>>>>>>> 0cc289b5e4b6d5cdc968dc0ab30529b3bee635a3
